.content{
    width: 100vw;
    height: 100vh;
    background: url(../image/top-view.jpg)no-repeat center;
    background-size: cover;
    position: relative;
    color: #00BFFF;
    z-index: 0;
    text-align: center;
    overflow: hidden;
}

/* .content:before{
    content: '';
    background: inherit;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: absolute;
    position: absolute;
    top: 5px;
    left: 5px;
    right: -5px;
    bottom: -5px;
    z-index: -1; 
} */

.main-conterner{
    margin: 0 auto;
    width: 80%;
    paddng: 150px 0;
    letter-spacint: 10px;
}

.main-container > h1{
    font-size: 42px;
    /* text-align: left; */
    margin-top: 24%;
    /* margin-bottom: 50px; */
}

.main-container > h2{
    font-size: 28px;
    /* text-align: left; */
    /* margin-bottom: 50px; */
}

.timeline{
    border-radius: 30px;
    /* border-bottom-left-radius: 30px; */
    width: 250px;
    font-size: 1.1rem;
    padding: 12px 0;
    border: 1px solid orange;
    display: inline-block; 
}

.left-btn{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 250px;
    font-size: 1.1rem;
    padding: 12px 0;
    border: 1px solid orange;
    display: inline-block;  
}

.right-btn{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 250px;
    font-size: 1.1rem;
    padding: 12px 0;
    border: 1px solid orange;
    display: inline-block;  
}